<article *ngIf="vehicle">
    <app-menu [data]="vehicle"></app-menu>

    <h1 class="title is-2 has-text-centered has-text-danger">{{ vehicle.name }}</h1>

    <div class="columns">
        <section class="column">
            <p>
                <span class="has-text-weight-bold">Model: </span>
                <span>{{ vehicle.model }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Vehicle Class: </span>
                <span>{{ vehicle.vehicle_class }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Manufacturer: </span>
                <span>{{ vehicle.manufacturer }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Cost in Credits: </span>
                <span>{{ vehicle.cost_in_credits }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Length: </span>
                <span>{{ vehicle.length }}</span>
            </p>
        </section>

        <section class="column">
            <p>
                <span class="has-text-weight-bold">Max Atmosphering Speed: </span>
                <span>{{ vehicle.max_atmosphering_speed }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Crew: </span>
                <span>{{ vehicle.crew }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Passengers: </span>
                <span>{{ vehicle.passengers }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Cargo Capacity: </span>
                <span>{{ vehicle.cargo_capacity }}</span>
            </p>
            <p>
                <span class="has-text-weight-bold">Consumables: </span>
                <span>{{ vehicle.consumables }}</span>
            </p>
        </section>
    </div>
</article>