<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="">
            STAR WARS UI
        </a>

        <a role="button" class="navbar-burger burger" (click)="toogleMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'active': active}">
        <div class="navbar-end">
            <a routerLink="films" class="navbar-item">
                Films
            </a>

            <a routerLink="starships" class="navbar-item">
                Starships
            </a>

            <a routerLink="vehicles" class="navbar-item">
                Vehicles
            </a>

            <a routerLink="planets" class="navbar-item">
                Planets
            </a>

            <a routerLink="characters" class="navbar-item">
                Characters
            </a>

            <a routerLink="species" class="navbar-item">
                Species
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>